@model Employee
@{
    ViewData["Title"] = "Tambah Rekod Pekerja Baru";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form asp-action="Create">
    <div class="mb-3">
       <label asp-for="Name" class="form-label"></label>
       <input asp-for="Name" class="form-control" type="text" />
        <span asp-validation-for="Name" class="text-danger"></span>        
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNo" class="form-label"></label>
        <input asp-for="PhoneNo" class="form-control" type="text" />
        <span asp-validation-for="PhoneNo" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <textarea asp-for="Address" class="form-control" cols="30" rows="3"></textarea>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DepartmentID" class="form-label"></label>
        <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.Departments">
            <option>-- Sila Pilih Jabatan --</option>
        </select>
        <span asp-validation-for="DepartmentID" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>    
</form>